body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: yellow;
}

#title {
    color: #333;
}

.text {
    font-size: 18px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.red {
    color: red;
}